@font-face {
  font-family: "gangstergrotesk";
  src: url(fonts/gangstergrotesk-regular.otf)
}

@font-face {
  font-family: "MonumentGroteskTrial";
  src: url(fonts/MonumentGroteskTrial-Semi-Mono.woff)
}
